.weight{

}

.container{
	/*
		border:1px solid pink;
		background: url('./img/light.png');
	*/
	
	background-color: #fff;
	display: flex;
	position: relative;
	flex-direction:column;
	border-bottom: 1px solid #ccc;
	

}
.ribbonWrapper{
	
	display: flex;

}
.ribbonItem{
	border:1px solid green;
	width:50px;
	height: 50px;
	margin-left:15px;

}

.infoWrapper{
	/*border:solid 2px blue;*/
	width:50%;
	margin-left:15px;
	
}

@media screen and (max-width: 480px){
	.ribbonWrapper{
			align-self:center;
			flex-grow:0;
			flex-shrink:1;
	}
	.container.weight{
		
		padding-bottom:10px;
	}
	
}
@media screen and (min-width: 480px){
	.ribbonWrapper{
		position: absolute;
		right:50px;
		top:0px;
	}
	.container.weight{
		padding-top: 50px;
		padding-bottom:50px;
	}
	
}