body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


div.bd-red{
	border:1px red solid;
}
div.bd-black{
	border:1px black solid;
}
.row>div{
	border:1px pink solid;
	min-height: 30px;
}

[data-component="name-widget"]{
	border:2px black solid;

}

@media screen and (min-width:992px){
	[data-component="contact-widget"],[data-component="name-widget"]{
	height: 100px;

	}
}

@media screen and (max-width:992px){
	[data-component="name-widget"]{
		height: 70px	
	}
	[data-component="contact-widget"]{
	border:2px black solid !important;
		
	}
}


