body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


div.bd-red{
	border:1px red solid;
}
div.bd-black{
	border:1px black solid;
}
.row>div{
	border:1px pink solid;
	min-height: 30px;
}


