*{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}


:global(.row>div){
	padding:0px;
	border:1px pink solid;
	min-height: 30px;
}





a {
  color: #00B7FF;
}



:global(.container){
	max-width:970px;
}




