.animat{
	background-color: #fff;
	z-index: 2;
	pointer-events: none;
	position: relative;	
	animation:route 0.5s ease-in;
	animation-play-state: run;
	animation-fill-mode: forwards;	
}





@keyframes route{
	 0%{
	 	
	 }
	 30%{
	 	transform: rotateY(90deg);
	 }
	 
	 100%{
	 	transform: scale(2,2) rotate(180deg);
	 	
	 }
}