.begin{
	background-color: #fff;
	z-index: 2;
	animation:route 1s ease-in;
	animation-play-state: run;
	pointer-events: none;

	/*animation-fill-mode: forwards;*/
	
}

@keyframes route{
	 0%{
	 	
	 }
	 40%{
	 	transform:translate(150%,-130%) rotateY(1deg);
	 }
	 
	 100%{
	 	transform:translate(150%,-130%) scale(3.7,3.7) rotateY(180deg);
	 	
	 }
}