.container{
	position: relative;
}

.line{
	transition-timing-function: linear;

}




.svg{
	margin-bottom: -5px;
}

.point{
	fill: #fff;
	stroke: pink;
	stroke-width: 2px;
}


.panel{
	border-radius: 4px;
	position: absolute;
	padding:10px;
	box-shadow: 0 0 1px 1px #aaa;
	background-color: #fff;
}

.panel:after{
	content:'';
	position: absolute;
	width:8px;
	height:8px;
	top:50%;
	left:-4px;
	background-color: inherit;

	transform: translateY(-50%) rotate(45deg) translateX(1px);
	box-shadow: -1px 1px 1px 0px #aaa;
}
