.container{
	position: relative;
	
}

.circle{
	
	fill:none;
	position: relative;
	z-index: 1;
		
	/*

	transition: 1s;
stroke:black;
		stroke-width:2px;
		stroke-dasharray: 282%;
		stroke-dashoffset:0%;
		r:45%;
		2PI*a %
		stroke-dashoffset:308%;
	*/

}

.line{
	stroke: blue;
	stroke-width: 2px;
	stroke-linecap: round;
	position: relative;
	z-index: 0;


}


.panel{
	border: solid 2px black;
	position: absolute;
}


