.container{
	
	position: relative;
	overflow: hidden;
}

.container:after{
	content:'' ;
	padding-bottom: 57%;
	border: solid 2px pink;
	display: block;
}

.expand{
	/*
	top: -0%;
	left: -8%;
	bottom: 0%;
	right: -8%;

	*/
	width: 110%;
	height: 100%;
	transform: translateX(-5%) rotate(-30deg) ;

}
.normal{
	/*
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
	*/
	width: 100%;
	height: 100%;
}
.world{
	position: absolute;
	transition: 1s;
	display: flex;
	justify-content: center;
	flex-direction: column;
	composes: expand;
	/*

	*/
}



.track{
	flex-grow: 1;
	width: 60%;
	position: relative;
	border-left: solid 3px black;/*starting line*/
	border-right: solid 3px black;/*endding line*/
}

.tracks{
	border-bottom: solid red 4px;
	flex-basis: 55%;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

}


.tracks>.track:after{
	content: '';
	border-bottom: solid red 4px;
	position: absolute;
	left: -35%;
	right: -35%;
}



.runner{
	transition: 0.1s linear;
	height: 100%;
	position: absolute;
	
	
}

.runner>img{
	
	height: 100%;
	width: auto;
	float: none;
	position: absolute;
	transform: translateX(-100%);

	/*
	
	*/
}

.button{
	width: 60px;
	height: 30px;
	margin: 5px;
	position: absolute;
	z-index: 2;
}

.startBtn{
	composes: button;
	top: 5px;
}
.resetBtn{
	composes: button;
	top: 40px; 
}